<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stiches by Luna</title>
    <link rel="icon" type="image/png" href="images/LOGO-LUNA.png?v=1" />
    <link rel="stylesheet" href="stylesheets/styling.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="overlay"></div>

    <!-- cart -->
    <div class="cart-container">
        <div class="header-cart">
            <h1>CART</h1>
            <img src="images/close.svg" id="closeCart" style="cursor: pointer;"> 
        </div>

    <div class="cart-content-parent">
        

        <div class="empty-main-parent">
            <div class="empty-cart-container">
                    <div class="empty-cart-image-container">
                        <img src="images/emptyCart.svg" alt="">
                        
                    </div>

                    <div class="empty-cart-emptyLabel-container">
                        <h1>Cart is Empty</h1>
                    </div> 
            </div>
            <a href="/products">
                <div class="shop-all-button">
                    <button class="shopButton">SHOP ALL</button> 
                </div>
            </a>
        </div>
    </div>

        <div class="total-cart-row">
            <div class="total-label-flex">
                <div class="total-label"><h2>TOTAL</h2></div>
            </div>
            <div class="total-price-flex">
                <div class="total-label"><h2 class="cart-total">P0</h2></div>
            </div>
        </div>
    </div>
    
    <!-- navigation bar -->
        <div class="nav-container">
            <nav class="navigation">
                <div class="float-left">
                    <a href="/">
                        <img src="images/LOGO-LUNA.png" alt="">
                    </a>
                    <a href="/products">Product</a>
                    <a href="/custom">Customize</a>
                    <a href="/contact">Contact</a>
                    <a href="/userLogin" id="status"></a>
                </div>
                <div class="float-right">
                    <a class="cart">
                        <img src="images/cart.svg" style="cursor: pointer;">
                    </a>
                </div>
            </nav>
           
            <div class="searchbar-container">
                
            </div>
        </div>
       
            
<!-- header -->
        <div class="header-bg" id="headings">
            <div class="logo">
                <img src="images/starlogo.png" >
            </div>

            <div class="logo-text">
                <img src="images/LOGO-TEXT-NEW.png">
            </div>

            <a href="#section1">
                <div class="button-container">
                    <button>LET'S STITCH</button>
                </div>
            </a>
        </div>

        
<!--1st content business overview-->
    
    
    <div class="first-content" id="section1">
        <div class="titleOverview">
             <h1>An expression of art through needlework</h1>
        </div>

        <div class="titleOverviewPara">
            <p>From the first stitch to the final knot, Stitches by Luna is the amalgamation of passion for crochet-making and the desire to turn that passion into a means to connect with other individuals through our products. </p>
            <br>
            <p>Every piece is a reflection of our commitment to our craft. Whether it’s a beloved cartoon character or a nostalgic childhood stuffed toy, our creations are designed to appease the child within us all. At Stitches by Luna, we strive to provide this comforting embrace of warmth and familiarity, invoking cherished memories and a sense of joy from our formative years through crochet-making. </p>
        </div>
        <br>
        <div class="line">
            <img src="images/line.png">
        </div>

        
    </div>

    <div class="divide-cover3"> </div>
    <div class="custom-shape-divider-top-1726049825">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
   </div>
  

   <!-- second content products overview -->
    <div class="second-content">
        
        
       <div class="productHome-title">
            <h1>Discover the Magic<br> of Handmade Crochet</h1>
       </div>
       <div class="container text-center">
            <div class="row gx-5">
              <div class="col ">
                <div class="productHome-container ">
                    <div class="productHome-name-container">
                        <div class="productHome-name">
                             <p>KEYCHAINS</p>
                        </div>
                     </div>
                    <div class="productHome-image">
                        <img src="images/keychain.png">
                    </div>
                </div>
              
              </div>

              <div class="col ">
                <div class="productHome-container">
                    <div class="productHome-name-container">
                        <div class="productHome-name">
                             <p>PLUSHIES</p>
                        </div>
                     </div>
                    <div class="productHome-image">
                        <img src="images/plushie.png">
                    </div>
                </div>
                
              </div>

              <div class="col">
                <div class="productHome-container">
                    <div class="productHome-name-container">
                        <div class="productHome-name">
                             <p>COASTERS</p>
                        </div>
                     </div>
                    <div class="productHome-image">
                        <img src="images/coaster.png">
                    </div>
                </div>
               
              </div>
            </div>
            
            <a href="/products" style="text-decoration: none;">
                <div class="button-container second">
                    <button class="buttonViewMore">view more</button>
                </div>
             </a>
    </div>
    </div>

    <!-- thrid content deature 1 handmade -->
    <div class="third-content" id="section2">
        <div class="thirdContent-title">
            <h1>Handmade<br>Craftsmanship</h1>
        </div>
        <div class="thirdContent-paragraph">
            <p>Experience the artistry and dedication behind every stitch. Our crochet pieces are meticulously handcrafted with love and care, ensuring unparalleled quality and uniqueness</p>
        </div>
    </div>
  

<!-- fourth content geature 2 and 3 cozy and styling -->
    <div class="fourth-content">
        <!-- cozy -->
        <div class="cozy-container">
            <div class="cozyTitle">
                <h1>Cozy Up!!</h1>
                <p>Unwind and relax with the gentle embrace of our crochet pieces. These handcrafted creations are more than just accessories; they're a sanctuary of comfort and tranquility. Let the soft textures and intricate stitches envelop you in a world of relaxation, where worries melt away and peace takes hold.</p>
            </div>
            <div class="cozy-containerContainer">
                <img src="images/feature/cozyShape.png">
            </div>
        </div>

            <!-- style -->
        <div class="bag-container">
            <div class="bagTitle">
                <h1>Elavating Style</h1>
                <p>Step up your style game with a touch of handmade crochet. These unique pieces add a personal touch to any outfit, whether you're dressing up or down. From bold and statement-making to subtle and understated, our crochet accessories elevate your look and reflect your individuality.</p>
            </div>
            <div class="bag-containerContainer">
                <img src="images/feature/bagShape.png">
            </div>
        </div>
    </div>

        <!-- fifth content coasters -->
    <div class="fifth-content">
        <div class="roundDiv">
            <div class="coasterContainerTitle">
                <div class="coaster-containerTitle">
                    <h1>SIP IN STYLE</h1>
                </div>
            </div>
            <video autoplay muted loop>
                <source src="videos/kape.mp4" type="video/mp4">
            </video>
        </div>


        <div class="coasterContainer">
            <div class="coaster-image-container">
                <img src="images/feature/coasterFeatures.png">
            </div>
        </div>

        <div class="coasterParagraph">
            <p>Elevate your drinkware with these stylish crochet coasters. Not only do they protect your surfaces from unsightly rings, but they also add a touch of personality to your space. Crafted with care and attention to detail, our coasters are the perfect blend of function and fashion. They're not just accessories; they're conversation starters that showcase your unique style.</p>
        </div>
        
    </div>
    <div class="custom-shape-divider-top-1726158698">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
    
    
      
    <!-- sizth content 5th feature customization -->
    <div class="sixth-content">
    <div class="rowing">
       
        <div class="hang">
            <div class="customizeContainer">
                <img src="images/feature/customizeFeature.png">
            </div>
        </div>
        <div class="cuztomizeTitle">
            <h1>Crochet It Your Way</h1>
        </div>
        <div class="cuztomizeTitle2">
            <p>Imagine a crochet piece that's perfectly tailored to your style. Choose your colors, size, and details for a truly personalized creation. Let your imagination run wild and bring your crochet dreams to life</p>
        </div>
        <a href="/custom">
        <div class="button-container-custom">
            <button>view more</button>
        </div>
         </a>
        
    </div>
   
    <div class="rowing">
        <div class="hang2">
            <div class="customizeContainer2">
                <video autoplay muted loop>
                    <source src="videos/strawberrychoco.mp4" type="video/mp4">
                </video>
             </div>
        </div>
    </div>
   </div>

   <!-- infgogragics -->
    <div class="seventh-content">
        <div class="infographicsTitle">
            <img src="images/string.png">
        </div>
        <div class="infographicsTitle2">
            <h1>put your crochet making skills in to test!</h1>
        </div>
        <div class="infographics">
            <img src="images/INFO.JPG">
     
        </div>
    
        <div class="divideHome">
            <img src="images/dividerFooter.png"> 
        </div>
    </div>

    <div class="divideFooter-cover">
         
    </div>
    
    
  <!--------FOOTER------------>

    <footer>
        <div class="footerContainerTitle">
            <img src="images/footertext.png" alt="">
        </div>

            
            <div class="socials-container">
                <div class="socialImage">
                    <a href ="mailto:jangabperez@gmail.com">
                        <img src="images/SM1.png" alt="">
                    </a>
                </div>
                <div class="socialImage">
                    <a href ="https://www.instagram.com/byluna_collections/" target = "_blank">
                        <img src="images/SM3.png" alt="">
                    </a>
                </div>
            </div>
    
            

              <div class ="copyright">
                <p>&copy; Copyright 2024. All Rights Reserved.</p>
            </div>
    </footer>

    <script async src="javascripts/script.js"></script>
    <script async src="javascripts/checkLoginStatus.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>